<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Secret Santa Picker</title>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <link rel="stylesheet" href="style.css" />
</head>
<body>
  <div id="app">
    <!-- Add participants -->
    <div v-if="!started" class="login-box">
      <h1>🎄 Secret Santa Setup</h1>

      <input type="text" placeholder="Your Name" v-model="newParticipant.name" />
      <input type="text" placeholder="Gift Wishlist (comma separated)" v-model="newParticipant.wishlist" />
      <button @click="addParticipant">Add Participant</button>

      <ul>
        <li v-for="(p, index) in participants" :key="index">
          {{ p.name }} - Wishlist: {{ p.wishlist.join(", ") }}
          <button @click="removeParticipant(index)">Remove</button>
        </li>
      </ul>

      <button v-if="participants.length > 1" @click="startGame">Start Secret Santa</button>
    </div>

    <!-- Secret Santa assignments -->
    <div v-else class="secret-box">
      <h1>🎅 Secret Santa Assignments</h1>
      <ul>
        <li v-for="(p, index) in participants" :key="index">
          {{ p.name }} → {{ p.assignedTo.name }}  
          <br/>
          Wishlist: {{ p.assignedTo.wishlist.join(", ") }}
        </li>
      </ul>
      <button @click="resetGame">Start Over</button>
    </div>
  </div>

  <script src="script.js"></script>
</body>
</html>
